extends ../../../admin/layouts/default.pug

block main
  h1(class="mb-4") Accounts Management     

  .card.mb-3
    .card-header List of Accounts
    .card-body
      .row
        .col-8
        .col-4.text-right
          a(
            href=`${prefixAdmin}/accounts/create`
            class="btn btn-outline-success"
          ) + Add New Account
