include ../../mixins/subMenu.pug

header.header 
  .container 
    .row.align-items-center 
      .col-3
        .inner-logo
          a(href="/")
            img(src="/uploads/logoWeb.png", alt="logo")
          
      .col-9 
        .inner-menu 
          ul 
            li
              a(href="/") Home Page
            li(class="sub-menu")
              -const pathProduct = "/products";
              a(href=pathProduct) Products
              +subMenu(productCategoriesDropdown, pathProduct)