mixin select-category-by-tree(categories, level='')
    if (categories)
        each item in categories
            option(value=item._id) #{level + ' ' + item.title}
            +select-category-by-tree(item.children, level + '--')