mixin sort(isProduct = true)
    div(sort)
        .input-group
            select(
                class="form-control"
                name="sort"
                sort-select
            )
                option(value="position-desc" default) Position descending (Default)
                option(value="position-asc") Position ascending
                if (isProduct == true)
                    option(value="price-desc") Price descending
                    option(value="price-asc") Price ascending
                option(value="title-asc") Title A -> Z
                option(value="title-desc") Tile Z -> A
            .input-group-append
                button(
                    class="btn btn-danger"
                    sort-clear
                ) Clear