extends ../../layouts/default.pug

block main
  link(rel="stylesheet", href="/client/css/profile.css")

  .profile-wrapper
    .container
      .mb-4
        button.btn.btn-outline-secondary(type="button", onclick="goBack()")
          i.bi.bi-arrow-left.me-1.mr-1
          | Back
      .profile-container
        include ../partials/profileSidebar.pug

        .profile-content
          .content-card
            h5.mb-3
              i.bi.bi-person-circle.me-2.mr-1
              | Profile Information

            .profile-info-item
              i.bi.bi-telephone.mr-1
              div
                span.label Phone:
                span #{user.phone || "Not updated"}

            .profile-info-item
              i.bi.bi-calendar-event.mr-1
              div
                span.label Joined on:
                span #{user.createdAt.toLocaleDateString('en-US')}

            .profile-info-item
              i.bi.bi-person-badge.mr-1
              div
                span.label Role:
                span #{user.role || "User"}

            .profile-info-item
              i.bi.bi-geo-alt.mr-1
              div
                span.label Address:
                span #{user.address || "Not updated"}

            .mt-4
              a.btn.btn-primary.rounded-pill.px-4.me-2.mr-2(href="/user/edit-profile")
                i.bi.bi-pencil-square.me-1.mr-1
                | Edit Profile
              a.btn.btn-warning.rounded-pill.px-4(href="/user/change-password")
                i.bi.bi-shield-lock.me-1.mr-1
                | Change Password
