.sider
  .inner-menu 
    ul  
      li 
        a(href=prefixAdmin + "/dashboard") Dashboard 
      li
        a(href=prefixAdmin + "/product-list") Product list
      li
        a(href=prefixAdmin + "/product-category") Product category